app-door[ng-reflect-day="1"] {
  top: 250px;
  left: 300px;
}

app-door[ng-reflect-day="2"] {
  top: 110px;
  left: 950px;
}

app-door[ng-reflect-day="3"] {
  top: 985px;
  left: 780px;
}

app-door[ng-reflect-day="4"] {
  top: 650px;
  left: 200px;
}

app-door[ng-reflect-day="5"] {
  top: 400px;
  left: 1100px;
}

app-door[ng-reflect-day="6"] {
  top: 110px;
  left: 500px;
}

app-door[ng-reflect-day="7"] {
  top: 800px;
  left: 75px;
}

app-door[ng-reflect-day="8"] {
  top: 350px;
  left: 600px;
}

app-door[ng-reflect-day="9"] {
  top: 800px;
  left: 880px;
}

app-door[ng-reflect-day="10"] {
  top: 1050px;
  left: 500px;
}

app-door[ng-reflect-day="11"] {
  top: 20px;
  left: 40px;
}

app-door[ng-reflect-day="12"] {
  top: 900px;
  left: 325px;
}

app-door[ng-reflect-day="13"] {
  top: 1050px;
  left: 150px;
}

app-door[ng-reflect-day="14"] {
  top: 730px;
  left: 1090px;
}

app-door[ng-reflect-day="15"] {
  top: 300px;
  left: 35px;
}

app-door[ng-reflect-day="16"] {
  top: 575px;
  left: 640px;
}

app-door[ng-reflect-day="17"] {
  top: 270px;
  left: 850px;
}

app-door[ng-reflect-day="18"] {
  top: 930px;
  left: 1060px;
}

app-door[ng-reflect-day="19"] {
  top: 800px;
  left: 570px;
}

app-door[ng-reflect-day="20"] {
  top: 490px;
  left: 350px;
}

app-door[ng-reflect-day="21"] {
  top: 500px;
  left: 840px;
}

app-door[ng-reflect-day="22"] {
  top: 570px;
  left: 25px;
}

app-door[ng-reflect-day="23"] {
  top: 20px;
  left: 700px;
}

app-door[ng-reflect-day="24"] {
  top: 7200px;
  left: 750px;
}
